.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app__books {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow-y: auto;
}

.app__user-bar {
  flex: 0 0 auto;
}
