.app {
  position: relative;
  padding-bottom: var(--user-bar-height);
}

.app__books {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40vh;
}

.app__user-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--user-bar-height);
}
